#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	cmake -DQT_USE_QTSQL=TRUE -DQT_USE_QTNETWORK=TRUE -DCMAKE_BUILD_TYPE=Release .

override_dh_auto_clean:
	rm -rf CMakeCache.txt CMakeFiles cmake_install.cmake Makefile lib/* src/moc_*.cxx src/spi/moc_*.cxx src/varia/moc_*.cxx src/helpers/moc_*.cxx *.cmake install_manifest.txt

override_dh_auto_install:
	make install
	dh_install
